<%# Offers a quick link to the user's working directory via the OnDemand interface.
This will appear once the job begins running. %>
<p>NAMD does not offer an interactive interface. <a href= "/pun/sys/dashboard/files/fs/<%= working_path %>">You can find your output files here:</a></p>